body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background: rgba(0, 129, 204, 0.966);
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.info {
    width: 70%;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info#t1{
    width: 450px;
}

.info#t2{
    width: 380px;
}

h1 {
    color: #002e4d;
}
h2{
    color: #3498db;
}

p {
    color: #333;
}
